body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    background: yellow;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.section1{
    display: flex;
   flex-direction: column;
   background-color: rgb(237, 240, 239);
}

.up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 65vh;
}
.down {
    background-color: white;
    height: 10vh;
}


.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .right p{
        background-color: white;
        padding: 15px;
        text-align: center;
        width: fit-content;
        position: relative;
        
        bottom: 150px;
        left: 50px;
    }
    .shoe {
        display: flex;
        align-items: end;
        justify-content: center;
        height: 65vh;
        padding: 10px;
    }
    .shirt {
        display: flex;
        height: 65vh;
        justify-items: center;
        padding: 10px;
        align-items: center;
    }
    .section3 {
        display: flex;
        height: 80vh;
    }
    .section4 {
        display: flex;
        height: 70vh;
        justify-content: center;
    }
    .section5 {
        display: flex;
        height: 65vh;
        justify-content: center;
        padding: 10px;
    }


    @media only screen and (max-width:800px) {
        
        nav{
            display: none;
        }
        .section2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .shoe {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .shirt {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section5 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        }
        
        
        
        
        
    

    